.DS_Store
/web/model/cars196model.h5
/web/uploads/
/.keras
__pycache__
.idea
/backend/app/uploads/*
/backend/model/cars196model.h5
!/backend/app/uploads/.gitkeep
/frontend/media/.schumacher.mp4.icloud
/frontend/media/.schumacher.mp4
